<h1>Hello, <%= @user_info.Full_name %></h1>


<br>
<h2>Account Information</h2>

<p>Full Name: <%= @user_info.Full_name %></p>
<p>Street Address: <%= @user_info.Street_Address %> </p>
<p>City: <%= @user_info.City %></p>
<p>State: <%= @user_info.State %></p>
<p>Postal Code: <%= @user_info.Postal %></p>
<p>Country: <%= @user_info.Country %></p>
<p>Email Address: <%= @user_info.Email %></p>
<p>Username: <%= @user_info.Username %></p>
<p>Phone: <%= @result %></p>
<p>Home Phone: <%=@home%></p>
<p>Work Phone: <%= @work%></p>

<!-- Phone.all.each do |5|
 print "id is #{t.id}  "
 print t.title + ":  "
 print t.description
  t.comments.each do |c|
  puts c.content
  end -->
<!-- end -->
<!--
